<app-topo></app-topo>

<div *ngIf="jogoEmAndamento ; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento == 'derrota' ; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        <h2 class="d-flex justify-content-center" style="color: red;">Game Over!</h2>
        <h3 class="d-flex justify-content-center">Você não tem mais nenhuma tentativa :(</h3>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        <h2 class="d-flex justify-content-center" style="color: green;">Parabéns!</h2>
        <h3 class="d-flex justify-content-center">Você concluiu com sucesso todas as rodadas :)</h3>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
